^contentpage {
    background-color: #2c2f34;
}

mainstack {
    margin: 15;
    padding: 15;
}

label {
    color: white;
}

#header {
    font-size: 32;
    font-weight: bold;
    color: white;
    text-align: center;
}

prob {
    margin: 30;
}

entries {
    background-color: white;
    border: thin solid black;
}

button {
    margin-top: 20;
    border-radius: 5;
    background: red;
    color: white;
    font-size: 20;
    text-align: center;
    text-decoration-color: white;
    font-variant-caps: normal;
}

ll {
    margin-top: 15;
}

checkbox {
    color: white;
}

remember {
    text-decoration-color: white;
}

stacklayout label {
    font-family: Verdana;
}

forgot {
    text-decoration-color: white;
    align-content: end;
}

body123 {
    vertical-align: central;
}
